main .welcome{
    width: 100%;
    padding:30px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-callout.jpg");



    article{
        text-align: center;

        h1{
            font-size: 3.5rem;
            font-weight: 700;
        }

        button{
            margin-top: 20px;
            padding: 20px 40px;
            border-radius: 7px;
            border: none;
            background-color: #1D809F;

            &:hover{
                cursor: pointer;
                background-color: #4c8ea2;
            }
        }
    }

}